<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Palawan.My.MySettings.SQL_Cotton" connectionString="Data Source=HQ-svSQL01;Initial Catalog=Cotton;Persist Security Info=True;User ID=sa;Password=HQ&amp;U7MBd+pQ8/:rh"
            providerName="System.Data.SqlClient" />
        <add name="Palawan.My.MySettings.SQL_CCTausch" connectionString="Data Source=HQ-svSQL01;Initial Catalog=CCTausch;Persist Security Info=True;User ID=sa;Password=HQ&amp;U7MBd+pQ8/:rh"
            providerName="System.Data.SqlClient" />
        <add name="Palawan.My.MySettings.SQL_CCLEAP" connectionString="Data Source=HQ-svSQL01.cotton.local;Initial Catalog=CCLEAP;Persist Security Info=True;User ID=sa;Password=HQ&amp;U7MBd+pQ8/:rh"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>